<!--begin::Theme mode-->
<div class="app-navbar-item ms-1 ms-lg-3">
  <app-theme-switcher></app-theme-switcher>
</div>
<!--end::Theme mode-->

<!--begin::User menu-->
<div class="app-navbar-item ms-1 ms-lg-3">
  <!--begin::Menu wrapper-->
  <div class="cursor-pointer symbol symbol-35px symbol-md-40px">
    <img src="./assets/metronic/media/avatars/blank.png" />
  </div>
  <!-- TODO
  <app-user-inner data-kt-menu='true'></app-user-inner>
  -->
  <!--end::Menu wrapper-->
</div>
<!--end::User menu-->

<!--
TODO : Icon that would re-create the mobile menu
works with:
  - frontend/src/app/layout/template/header/header-menu/header-menu.component.ts
<div class="app-navbar-item d-lg-none ms-2 me-n3" title="Show header menu">
  <div
    class="btn btn-icon btn-active-color-primary w-35px h-35px"
    id="kt_app_header_menu_toggle">
    <app-metronic-icon [icon]="mobileMenuIcon"></app-metronic-icon>
  </div>
</div>
-->
