<div class="card card-px-0 card-py-0">
  <div class="card-body">
    <div class="position-relative mb-7">
      <div class="overlay overlay-show">
        <div
          class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded-top min-h-250px"
          style="background-image: url('img/banners/privacidade.jpg')"></div>
        <div
          class="overlay-layer rounded-top bg-black"
          style="opacity: 0.1"></div>
      </div>
      <div class="position-absolute text-white mb-8 ms-10 bottom-0">
        <h2 class="text-white fs-2qx fw-bold mb-3">Privacidade</h2>
      </div>
    </div>

    <div class="d-flex flex-column flex-lg-row px-5 mb-8">
      <div class="flex-lg-row-fluid me-0">
        <div class="m-8">
          <!--begin::Title-->
          <h3 class="fs-1 text-gray-800 w-bolder mb-6">Privacidade</h3>
        </div>
        <p class="text-gray-800 fw-normal fs-5 mb-5">
          Pois esta é a fase 0 do projeto, a fase de arranque!<br /><br />
          Dessa forma não recolhemos qualquer informação pessoal, e de "cookie"
          só guardamos o essencial para o funcionamento do site (côr do tema e
          sessão).
        </p>
      </div>
    </div>
  </div>
</div>
