<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
  <div
    id="kt_app_sidebar_menu_scroll"
    class="scroll-y my-5 mx-3"
    data-kt-scroll="true"
    data-kt-scroll-activate="true"
    data-kt-scroll-height="auto"
    data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
    data-kt-scroll-wrappers="#kt_app_sidebar_menu"
    data-kt-scroll-offset="5px"
    data-kt-scroll-save-state="true">
    <!--begin::Menu-->
    <div
      class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
      id="#kt_app_sidebar_menu"
      data-kt-menu="true"
      data-kt-menu-expand="false">
      <!-- Dashboard -->
      <div class="menu-item">
        <!-- TODO set active -->
        <a
          class="menu-link without-sub"
          routerLink="/"
          routerLinkActive="active">
          <span class="menu-icon">
            <app-metronic-icon [icon]="homeIcon"></app-metronic-icon>
          </span>
          <span class="menu-title">Início</span>
        </a>
      </div>

      <!-- Separator -->
      <div class="menu-item">
        <div class="menu-content pt-8 pb-2">
          <span class="menu-section text-muted text-uppercase fs-8 ls-1"
            >Institucionais</span
          >
        </div>
      </div>
      <!-- Institucionais -->
      <div
        data-kt-menu-trigger="click"
        class="menu-accordion menu-item"
        #submenu>
        <span class="menu-link" (click)="toggleSubmenu(submenu)">
          <span class="menu-icon">
            <app-metronic-icon [icon]="usIcon"></app-metronic-icon>
          </span>
          <span class="menu-title"> Quem Somos? </span>
          <span class="menu-arrow"></span>
        </span>
        <div
          routerLinkActive="menu-active-bg"
          class="menu-sub menu-sub-accordion">
          <div class="menu-item">
            <a
              routerLinkActive=""
              routerLink="/institucionais/equipa"
              class="menu-link without-sub">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Equipa</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Separator -->
      <div class="menu-item">
        <div class="menu-content pt-8 pb-2">
          <span class="menu-section text-muted text-uppercase fs-8 ls-1"
            >Operações</span
          >
        </div>
      </div>
      <!-- Serviços -->
      <div
        data-kt-menu-trigger="click"
        class="menu-accordion menu-item"
        #submenu>
        <span class="menu-link" (click)="toggleSubmenu(submenu)">
          <span class="menu-icon">
            <app-metronic-icon [icon]="servicesIcon"></app-metronic-icon>
          </span>
          <span class="menu-title"> Serviços </span>
          <span class="menu-arrow"></span>
        </span>
        <div routerLinkActive="" class="menu-sub menu-sub-accordion">
          <div class="menu-item">
            <a
              routerLinkActive=""
              routerLink="/documentacao"
              class="menu-link without-sub">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Documentação</span>
            </a>
          </div>
        </div>
      </div>

      <!-- INI: TO DELETE -->
      <div
        data-kt-menu-trigger="click"
        class="here hover menu-accordion menu-item show">
        <span class="menu-link">
          <span class="menu-icon">
            <app-metronic-icon [icon]="usIcon"></app-metronic-icon>
          </span>
          <span data-link="/crafted/account" class="menu-title">
            Quem Somos?
          </span>
          <span class="menu-arrow"></span>
        </span>
        <div
          routerLinkActive="menu-active-bg"
          class="menu-sub menu-sub-accordion show"
          kt-hidden-height="83">
          <div class="menu-item">
            <a routerLinkActive="" routerLink="#" class="menu-link without-sub">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Equipa</span>
            </a>
          </div>
          <div class="menu-item">
            <a routerLinkActive="" routerLink="#" class="menu-link without-sub">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Privacidade</span>
            </a>
          </div>
        </div>
      </div>
      <!-- FIM: TO DELETE -->
    </div>
  </div>
</div>
