<ng-container *ngIf="pageTitle">
  <div [ngClass]="animationClass">
    <!-- begin::Title -->
    <h1
      class="page-heading d-flex text-gray-900 fw-bold fs-3 my-0"
      [ngClass]="{'flex-column justify-content-center': appPageTitleDirection, 'align-items-center': !appPageTitleDirection}">
      {{ pageTitle.title }}
      <ng-container *ngIf="pageTitle.description">
        <!--begin::Description-->
        <span
          class="page-desc text-muted fs-7 fw-semibold"
          [ngClass]="{'pt-2': appPageTitleDirection === 'column'}">
          <ng-container *ngIf="appPageTitleDirection === 'row'">
            <!--begin::Separator-->
            <span
              class="h-20px border-1 border-gray-300 border-start ms-3 mx-2"></span>
            <!--end::Separator-->
          </ng-container>
          {{pageTitle.description}}
        </span>
        <!--end::Description-->
      </ng-container>
    </h1>
    <!-- end::Title -->

    <ng-container *ngIf="breadcrumbs.items.length">
      <!-- begin::Breadcrumbs -->
      <app-metronic-navigation-breadcrumbs
        [breadcrumbs]="breadcrumbs"></app-metronic-navigation-breadcrumbs>
      <!-- end::Breadcrumbs -->
    </ng-container>
  </div>
</ng-container>
