<div class="card card-px-0 card-py-0">
  <div class="card-body">
    <div class="position-relative mb-7">
      <div class="overlay overlay-show">
        <div
          class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded-top min-h-250px"
          style="background-image: url('img/banners/documentacao.webp')"></div>
        <div
          class="overlay-layer card-rounded-top bg-black"
          style="opacity: 0.1"></div>
      </div>
      <div class="position-absolute text-white mb-8 ms-10 bottom-0">
        <h2 class="text-white fs-2qx fw-bold mb-3">Documentação</h2>
      </div>
    </div>

    <div class="d-flex flex-column flex-lg-row px-5 mb-8">
      <div class="flex-lg-row-fluid me-0">
        <div class="m-8">
          <!--begin::Title-->
          <h3 class="fs-1 text-gray-800 w-bolder mb-6">Objectivos</h3>
        </div>
        <p class="text-gray-800 fw-normal fs-5 mb-5">
          A criação de documentos colaborativos é uma das formas mais eficazes
          de trabalho. Pretendemos criar uma documentação que seja acessível aos
          nossos contacto, podendo haver edições assincronas até uma versão
          final.
          <br /><br />
          Seguindo o ISO 9001, permitirá um controlo de qualidade e versões
          sendo cada artefacto considerado inacabado e a qualquer momento rever
          o necessário.
        </p>
      </div>
    </div>
  </div>
</div>
