<div #splashScreen>
  <div id="page-loader">
    <div class="d-flex flex-column justify-content-center align-content-center">
      <div class="d-flex justify-content-center">
        <div class="text-gray-900 mb-1">
          <span
            class="font-zilla-slab-highlight-bold fs-3tx"
            style="line-height: 55px"
            >Be</span
          ><span
            class="font-inspiration-regular fs-4tx"
            style="line-height: 55px"
            >Why</span
          >
        </div>
      </div>
      <span class="d-flex justify-content-center text-gray-900 fs-6 mb-5">
        <span class="position-relative pb-1 fst-italic font-inter">
          Programamos Democracia
          <span
            class="d-inline-block position-absolute bottom-0 end-0 start-0 rounded bg-danger h-1px"></span>
        </span>
      </span>
      <div class="content">
        <div class="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <div class="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
