<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-xs-12 py-5">
        <div class="typewriter">
          <div>
            <p>Bem Vindo a BeWhy.Org</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 py-5">
        <h1>BeWhyOrg</h1>
        <p class="text-gray-800 fw-normal fs-5 mb-8">
          A BeWhyOrg é uma organização sem fins lucrativos que tem como objetivo
          a promoção da tecnologia e da inovação, e na na sua aplicação prática.
          Muito se pode escrever sobre as suas vivicitudes, mas é de nossa visão
          que ainda resta áreas pouco exploradas, devido à dificuldade, conteúdo
          ou mesmo, monetização da mesma, ficando boas ideias por desenvolver.
          Podemos já ter atalhado algumas das entropias levantadas, como ter
          iniciado uma equipa profissional, dedicada, polivalente e
          independente. Já temos uma semente, que irá crescer...<br />
          <span class="fs-2x">e muito!</span>
        </p>
        <h2>Missão</h2>
        <p class="text-gray-800 fw-normal fs-5 mb-5">
          A BeWhyOrg propõe-se a ser um espaço de partilha de conhecimento!
          Temos como objectivo ter um papel interventivo na cidadania
          portuguesa, criando um projecto independente que monitorize e partilhe
          as acções das entidades públicas. Diariamente, o dito "estado", em
          todas as suas formas, tomam decisões que afectam a vida de todos os
          cidadãos. Como cidadão não temos acesso simplificado a essa
          informação, e propomos a reorganizar a sua divulgação de forma
          compreensivel.
        </p>
        <h2>Próximos Passos</h2>
        <p class="text-gray-800 fw-normal fs-5 mb-5">
          Ainda estamos em fase de desenvolvimento, e a nossa equipa está a
          contribuir voluntariamente diariamente para o projecto. Chegamos à
          <i>milestone</i> de criar um site, e a partir daqui, as nossas
          funcionalidades irão crescer exponencialmente. A nossa equipa está
          dedicada, e acreditamos que o nosso projecto contará com evoluções
          mensais, umas mais visiveis que outras, mas todas com o objectivo
          crescente de informar o cidadão e, incentivar a sua participação
          activa na sociedade.
        </p>
      </div>
    </div>
  </div>
</div>
