<div
  class="app-container d-flex flex-column flex-md-row flex-center flex-md-stack py-3 container-fluid">
  <div class="text-gray-900 order-2 order-md-1">
    <span class="text-muted fw-semibold me-1">2025©</span>
    <a href="#" class="text-gray-800 text-hover-primary">BeWhyOrg</a>
  </div>
  <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
    <li class="menu-item">
      <a href="#" target="_blank" class="menu-link px-2">Git?</a>
    </li>
    <li class="menu-item">
      <a href="#" target="_blank" class="menu-link px-2">X?</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link px-2">site map</a>
    </li>
  </ul>
</div>
