<div
  class="app-container d-flex flex-column flex-md-row flex-center flex-md-stack py-3 container-fluid">
  <div class="order-2 order-md-1">
    <div class="text-gray-900 mb-1">
      <span class="font-inspiration-regular fs-4tx" style="line-height: 55px"
        >Be</span
      >
      <span
        class="font-zilla-slab-highlight-bold fs-3tx"
        style="line-height: 55px"
        >Why</span
      >
    </div>
    <div
      class="d-flex align-items-center justify-content-center justify-content-lg-start">
      <span class="text-muted fw-semibold me-1">2025©</span>
      <a routerLink="/" class="text-gray-900 text-hover-primary">BeWhyOrg</a>
    </div>
  </div>
  <ul
    class="menu menu-gray-600 menu-hover-primary fw-semibold order-1 d-flex align-items-end">
    <li class="menu-item">
      <a
        href="https://github.com/CarlosLiberJesus/angular.git"
        target="_blank"
        class="menu-link px-2 d-flex align-items-end">
        <app-metronic-icon [icon]="gitHubIcon" class="me-2"></app-metronic-icon>
        GitHub
      </a>
    </li>
    <li class="menu-item">
      <a
        href="https://discord.gg/sUeKPPSN"
        target="_blank"
        class="menu-link px-2 d-flex align-items-end">
        <app-metronic-icon
          [icon]="discordIcon"
          class="me-2"></app-metronic-icon>
        Discord
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/mapa-site" class="menu-link px-2 d-flex align-items-end">
        <app-metronic-icon
          [icon]="siteMapIcon"
          class="me-2"></app-metronic-icon>
        <i>Site-Map</i>
      </a>
    </li>
  </ul>
</div>
