<div
  class="app-container d-flex flex-column flex-md-row flex-center flex-md-stack py-3 container-fluid">
  <div class="order-2 order-md-1">
    <div class="text-gray-800 mb-1">
      <span class="font-inspiration-regular fs-4tx" style="line-height: 55px"
        >Be</span
      >
      <span
        class="font-zilla-slab-highlight-bold fs-3tx"
        style="line-height: 55px"
        >Why</span
      >
    </div>
    <div
      class="d-flex align-items-center justify-content-center justify-content-lg-start">
      <span class="text-muted fw-semibold me-1">2025©</span>
      <a routerLink="/" class="text-gray-800 text-hover-primary">BeWhyOrg</a>
    </div>
  </div>
  <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
    <li class="menu-item">
      <a href="#" target="_blank" class="menu-link px-2">Git?</a>
    </li>
    <li class="menu-item">
      <a href="#" target="_blank" class="menu-link px-2">X?</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link px-2">site map</a>
    </li>
  </ul>
</div>
